<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <%- include("./cssjs.ejs") %>
</head>
<body>
    <h1>Catch them all!</h1>
    <ul>
        <% for (let i = 0; i < pokemon.length; i++) { %>
        <a href="/pokemon/<%= i %>"><li><%= pokemon[i].name %></li></ul></a>
        <% } %>
    </ul>
</body>
</html>